@import url('https://fonts.googleapis.com/css?family=Open+"Sans');
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
 src: url("../assets/fonts/OpenSans-Regular.ttf"); 
}

html {
  position: relative;
  min-height: 100%;
}
input,select{
  height:52px !important;
}
body {
  overflow-x: hidden;
 
  padding-top:4%;
  box-sizing: border-box;
  font-family: "Open Sans" !important;

  min-height: 100%;
  padding-bottom: 6rem;
}
.small{
  font-size:10px !important;
}
.space{
  margin-bottom: 1rem !important;
}
p {
  margin: 0 !important;
}
.about p{
  font-weight: bold;
}
.about h6{
  font-size:32px;
  color:#F26527;
}
.sticky{
  min-height: 100vh;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
 
}
tr{
  text-transform: uppercase;
}
p {
  font-size: 14px;
}

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
.text-grey{
  color:#A7A6A69C!important; 
}
.text-dark-grey{
  color:#707070!important; 
}
.text-red{
color: #FF010A;
}
.text-green{
color:#069206;
}
.grey-color {
  color: #707070 !important;
}
.grey{
  background-color: #A7A6A642  !important;
  border:1px solid #A7A6A642!important;
}

.left{
  float: left;
}
.right{
  float: right;
}
/*====ant-d==*===*/
.ant-input-affix-wrapper:focus,.ant-input-affix-wrapper:hover{
  border-color: #F26527 !important; 
}
 .search,.search .ant-input{
  background:   #EFEFEF !important;

}
 .search{
  height: 64px !important;
  border-radius: 4px !important;
}
.ant-form-item-label > label {
  padding-top: 3em;
  font-weight:bold;
font-size: 1em;
}
.ant-form-item-label ,.ant-form-item-label > label{
color: #707070 !important;
}

.ant-select-selection-placeholder,.ant-table-column-sorters span {
  color: #707070 !important;
  font-weight:bold;
}
.ant-select-selector {
  background: #D6D6D6 !important;
  border-radius: 4px!important;
  color: #707070 !important;
  height: 64px !important;
}

.ant-pagination-item-active{
  border-color: #F26527 !important; 
}
.d-flex{
  display: flex;
}
.filter .ant-col .ant-select{

padding:1rem 0.5em;
}

.ant-select-multiple .ant-select-selection-item-content{
  color: #000 !important;
}
.btn-outline-secondary {
  background-color: #F26527 !important;
  border-color: #F26527 !important;
}
  @media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .pl-10{
          padding-left:l0px;
      }
    
  }
  @media only screen and (min-width: 1200px) {
 .pl-40{
     padding-left:40px;
 }
  
}
/*====ant-d==*===*/


.iXREbf {
  width: 80px !important; 

}
#wrapper{
  background-color: #EFEFEF;
}
.jzgHcoe,.dgeOsQ,.iXREbf.selected{
  background-color:#F26527 !important; 
}

.text-orange{
  color:#F26527 !important; 
}
.text-light-orange{
  color:#F2652773 !important; 
}


.referrals{
  width:250px;
  margin:1rem;

}

.nav{
border-bottom:1px solid #707070;
}
.tabRow .nav-item a{
  color:#707070;
  font-weight: 500;
}
.tabRow .nav-item a:active,.tabRow .nav-item a:hover{
  border-bottom:1px solid#F26527!important;
  color:#F26527!important;
}
.welcome h6,.celebrated h6,.hero h6 ,.faq h6 ,.about h1{
  color:#F26527;
  font-weight:600;
  font-size:1.2rem !important;
}
.heading-01{
  font-weight:600;
  font-size:1.6rem !important; 
}
.heading-06{
  font-size:1.2rem !important; 
  font-weight:600;
}
.icons {
  font-size: 16px;
  color: #fff;
  margin: 3px;
}
.dashboard ::placeholder {
  font-size: 14px;
}
.dashboard .col-md-7,.dashboard .col{
  padding:0px;
}
.dashboard .icons{
  font-size: 16px;
  color: #F26527;
  margin: 3px; 
}
.dashboard img{
  width: 95%;
}
.dashboard .vl{
  border-left: 2px solid#707070;
padding-left: 5px;
width: 100%;
  left: 50%;

  top: 0;
}
.dashboard .left{
  width: 100%;
}
.icons :hover,.icons:active,.dashboard .icons:hover,.dashboard .icons:active {
  color: #707070;
}

.form{   
background: #fff;
}
button a ,.white{
  color: #ffff !important;
}
button a:hover {
  background: transparent !important;
  color: #F26527 !important;
  text-decoration: none;
}
.count{
  border: 1px solid #F26527;
  /* border-radius:3px; */
  width:52px;
  margin:0 6px;
}
.search {
  font-size: 16px;
  color: #F26527;
}
.ant-select-selector{
  background: #9e9191 !important;
      color: #FFFF !important;
      border-radius: 10px!important;
}

.invalid {
  color: rgba(247, 36, 36, 0.781);
  font-size: 11px;
}
 .searchBar .input-group .form-control {
  height: 41px !important;
}
.searchBar .form-control::placeholder {
  font-size: 0.8em;
}
.form-control:focus {
  box-shadow: 0 0 5px #707070 !important;
  border: 2px solid #707070 !important;
}
.navbar-nav .nav-link {
  padding-right: 0.5rem !important;
  padding-left: .5rem !important;
}
.nav-tabs .nav-link {
  color: #707070 !important;
}
.nav-tabs .nav-link.active {
  color: #fff !important;
  background-color: #F26527 !important;
}
.testimonial {
  background-color: #3e3e3e;
  margin: 16px 0 16px 0;
}
.infiniteCarouselSlide {
  max-width: 16rem;
}
.slide{
  width: 100%;
    display: flex !important;
    justify-content: center;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  margin-right: 8px;
}
.verified :nth-child(odd) {
  color: #fff;
  background: #707070;
  border-radius: 6px;
  font-size: 12px;
}
.verified :nth-child(even) {
  color: #fff;
  background: #F26527;
  border-radius: 6px;
  font-size: 12px;
}
.verified button {
  margin-right: 4px;
}
.member{
  max-width: 256px;
  max-height: 200px;
}
.member img{
  max-width:66px;
}
.avatar img{
  max-width:46px;
}
.celebrated img,
.howItWorks img {
  max-width: 100%;
  height:60%
}
.howItWorks p{
  font-size: 14px;
}
.howItWorks .wrapper {
  height: 389px;
  max-width: 256px;
  margin-right: 6px;

  border-radius: 5px;
  box-shadow: #00000033 0px 1px 3px 0px;
}

.form a {
  color: #F26527 ;
  font-weight: 400;
}

.overlay {
  width: 35%;
  position: fixed;
  top: 30px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.content {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;

  border-radius: 4px;
  outline: none;
  padding: 20px;
}
.main {
  transition: margin-left 0.5s;
  padding: 20px;
}
.hero {
  background-image: linear-gradient(#fff, #fff);

  /*,url("../assets/images/banner.jpg")*/
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}
.hero img {
  max-width: 100%;
}

/*===404 page glitch==*/


.glitch {
  color: #707070;
  position: relative;
  font-size: 4vw;
 margin: 70px 52px;
  animation: glitch 5s 5s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 #F26527;
  background: #ffff;
opacity:1;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 #F26527;
  /* background: #303030; */
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1%{
    transform: rotateX(10deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}



.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}

.scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.05) .5%,
    transparent 1%
  );

  animation: fudge 7s ease-in-out alternate infinite;
}


@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}

.glow {

  text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
}

.subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: .8vw;
  color: rgba(165, 141, 141, .4);
  text-transform: uppercase;
  letter-spacing: 1em;
  text-align: center;
  position: absolute;
  left: 17%;
  animation: glitch-2 5s 5.02s infinite;
}

@keyframes glitch-2 {
  1%{
    transform: rotateX(10deg) skewX(70deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}
/*===404 page glitch==*/

/*=====*/
.hero-inner {
  position: absolute;
  top: 30%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.inner {
  position: absolute;
  top: 50%;
  left: 44%;
  transform: translate(-50%, -50%);
}
.carousel{
  background: #3E3E3E 
}
a:hover,.dashboard .trainings a:hover {
  color: #3E3E3E !important;
  text-decoration: none !important;
}
.featured_dw {
width:520px;
height:520px;
}
.featured{
  margin-top: 25%;
  height:200px; 
}

.about img{
  height:554px;
  width:100%;
  float: right;
}
/*==clientarea .dashboard*===*/
.dashboard input,.message input{
  margin: 7px 0;
}
.dashboard .upcoming input{
  border-color: #F26527;

}
.dashboard .completed input{
  border-color: #707070;

}
.profile_strength {
  color: #F26527;
  font-weight:600;
  font-size:55px;
}
.custom-range {
  width: 85%;
  height: 0.4rem;
  padding: 0;
}
.dashboard li{
  list-style: none;
  padding:1rem 0;
}
.dashboard .form-control:disabled{
  background-color: #fff;
}
.dashboard .more, .dashboard b,.dashboard .trainings a{
  font-size: 12px;
  color: #F26527;
}
.dashboard .status b{
  float: right;
}
.dashboard .trainings p,.dashboard .vl p,.dashboard .vl b{
  font-size: 12px;
 
}
.dashboard .trainings p{
color: #FFFF;
}
.dashboard .trainings{
  background: #E77A1A4D;
  padding:15px 8px;
}
/*==clientarea .dashboard*===*/
.faq div{
max-height: 237px;
  border: 1px solid var(--unnamed-color-f26527);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #F26527;
  border-radius: 10px;
  opacity: 1;
  width: 453px;
  margin:12px;
 text-align: center;
padding:50px 0;
}
.message .read {
  border-color: #F26527; 
}
/*=====signin signup===*/
.auth-left{
 padding:150px 0;
  background-color: #EFEFEF;
}
.auth{
 
    background: #FFFFFF ;
    border: 1px solid #707070;
    border-radius: 10px;
 width:473px;
}
#signUp{
  width: 473px;
  height: 768px;
  padding: 1em;
}
#signUp .nav-tabs{
  margin-bottom:0.5em;
  height: 25px;
}
#signUp .tab-content{
  height: 700px;
    margin-top: 3em;
}
/* Modal Content  mix-blend-mode: overlay; */
.modal-content {
  background-color: #fff;
  margin: 0 1em;
  max-width: 20em;
  max-height: 34em;
}

.modal-close{
font-size:16px;
font-weight:400;
  color:#F26527;
  margin-left: 18em;

}
.signUp {
  flex-direction: row !important;
}
/*=====signin signup===*/
.border{
  background: #FFFFFF ;
  border: 1px solid #707070;
  border-radius: 10px;
  padding: 30px 0px;

}
.auth-left .logo{
  margin:10px 0;
}
.auth .form-row{
  margin:40px 40px 20px 40px;
}
.slick-initialized .slick-slide{
  max-width:1200px !important;
}
.referrals{
 
  border-radius: 20px !important;
}
.referrals .card-header{
  background: #E77A1A;
  color:#fff;
}
.referrals .card-header:first-child {
  border-radius: 20px 20px 0 0;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin-top: 3em;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #000000;
  transition: 0.5s;
  opacity: 0.9 !important;
  justify-content: center;
}


/* .reg-actions .auth-left [class*=col-]{
padding-left:0px;
padding-right:0px;
/* background-color: #EFEFEF;
} */

/**====footer===*/
footer .main {
  background: #3e3e3e;

}

footer p{
  font-size:12px;
}
footer h6{
  font-size:14px !important;
}
footer{
 
  left: 0;
  bottom: 0;
  width: 100%;
}
footer h6,
.testimonial h6 {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.testimonial{
  max-width: 316px;
}
footer strong {
  font-size: 14px;
}
footer .form-control {
  border: 1px solid #fff;
  border-radius:4px;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
 
}
footer .form-control::placeholder {
  color:#fff;
  font-size:14px;
}
footer img {
  width: 200px;
  height: 44px;
}
/**====footer===*/
.slick-initialized .slick-slide{
  max-width: 320px;
}
.slick-track {
  
  display: flex !important;
  justify-content:center;
}
.slides {
  max-width: 800px;
}
.slick-dots{
  background: #3E3E3E;
}
.slick-dots li{
  background: #fff;
  border-radius: 20px;

}
.slide{
 text-align: center;
}
.testify{
  color:#fff;
  margin-top:16px!important;
}

/* .contact-wrapper{
  margin-top: 236px;
} */



.nav-tabs .nav-link {
  font-size: 0.8em;
}
.about img{
  margin-bottom: 36px;
}

.about form{
  max-width: 592px;
}
/*===small device===*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    body {
  
      padding-top:9%;
  }
  .pl-40{
    padding-left:40px;
  }
  .auth .form-row {
    padding-right: 5px;
    padding-left: 5px;
}
.hide{
  display:none;
}
.reg-actions .auth-left {
  padding-right: 5px;
  padding-left: 5px;
  margin: 0.6rem;
}
.auth .form-row {
  margin: 15px 0px;
}
  .navbar-collapse   {
  
    background-color: #f8f9fa;
  }
 
  .welcome h6 {
    color: #F26527;
    font-weight: 600;
    font-size: 1rem !important;
  
}
.contact_icons{
  font-size:30px;
  color:#F26527;
  padding: 6px;
}

.contact h6{
  font-size:25px;
  font-weight:400;
  color:#F26527;
}
.contact p{
  color:#707070;
  font-size: 14px;
}
.about h1 {
  color: #F26527;
  font-weight: 600;

  font-size: 1.6rem !important
}
.about h5 {
  color: #F26527;
  font-weight: 600;
  font-size: 1.1rem !important
}
.about img {
  height: 254px;
  width:100%;
  float: right;
}
.about h6 {
  font-size: 22px;
}

  .hero-inner {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .bar p {
    font-size: 10px;
  }
  .a-row{
    margin: 50px 10px !important;
  }
  #wrapper {
    padding-left: 0 ;
    transition: all 0.6s ease
  }
  #sidebar-wrapper{
    margin-left: -260px;
  }
  
  .tabRow .nav-item a{
    padding: 0;
  }
  .tabRow .nav-item a{
    font-size:10px;
    font-weight: 500;
  }
  .tabRow .count{
    width:40px;
  }
  .auth-left{
    padding: 0;
   
  }
 
}
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .tabRow .nav-item a{
      font-size:10px;
      font-weight: 500;
    }
    .contact{
      margin-top: 9em;
    }
  }
  @media only screen 
  and (min-device-width: 411px) 
  and (max-device-width: 823px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .tabRow .nav-item a{
      font-size:14px;
      font-weight: 500;
    }
  }
/*ipad*/
@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  
  .navbar-collapse   {
  
    background-color: #ffff;
  }
  .about img {
    height: 354px;
    width:100%;
    float: right;
  }
  .text{
    top:25%;
  }
  .about h1 {
    font-size: 20px !important;
}
.about h5 {
  font-size: 16px !important;
}
.contact h6{
  font-size:20px;
  font-weight:600;
  color:#F26527;
}

.contact p{
  color:#707070;
  font-size: 20px;
}
#wrapper {
 
  padding-left: 0 ;
  transition: all 0.6s ease
}
#sidebar-wrapper{
  margin-left: -250px;
  left: 250px;
}
.searchNav .nav-link ,.form-control{
  font-size:10px ;
}
.hide{
  display:none;
}
/*===contant===*/
.a-row {
  margin: 50px 10px !important;
}
.liNDSS,.nav-link, .contact p{
  
  font-size:10px;
}
}

/*ipadpro etc*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .navbar-collapse   {
  
      background-color: #ffff;
    }
    .about img {
      height: 454px;
      width:100%;
      float: right;
    }
    .text{
      top:25%;
    }
    .about h1 {
      font-size: 40px !important;
  }
  .about h5 {
    font-size: 30px !important;
}
    .about p{
      font-size: 16px;
    
    }
    .a-row{
      margin: 50px 10px !important;
    }
    .contact h6{
      font-size:20px;
      font-weight:600;
      color:#F26527;
    }
    .contact p{
      color:#707070;
      font-size: 24px;
    }
  
  #sidebar-wrapper{
    margin-left: -250px;
    left:250px;
  }
  #wrapper {
    padding-left: 220px;
}
  .hero img {
    max-width: 100%;
  }
  .nav-link {
    font-size: 10px;
  }
  h6 {
    font-size: 1rem;
}
  .hero h6,.faq h6 {
    font-size: 15pt !important;
  }
  .navbar-brand img {
    width: 140px;
  }
  .hero-inner {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  .navbar,
  .f-margin,
  .home {
    padding: 0 10px !important;
  }
  .ml {
    margin-left: 10px;
  }
  .mr {
    margin-right: 10px;
  }
  .hero,
  .hero-inner .row {
    margin: 0 10px;
  }
  .tabRow .nav-item a{
    font-size:16px;
    font-weight: 500;
  }
  .searchNav .nav-link{
    font-size:10px;
  }
  .hide{
    display:none;
  }
  
  .referrals{
    width:250px;
    margin:1rem;
 
  }
  }
/*Laptop*/
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .navbar-collapse   {
  
      background-color: #ffff;
    }
    .about img {
      height: 554px;
      width: 454px;
      float: right;
    }
    .text{
      top:25%;
    }
    .about p{
      font-size: 20px;
    
    }
    .a-row{
      margin: 50px 100px !important;
    }
    .about h1{
      font-size:60px !important;
    }
    .about h1 {
      font-size: 40px !important;
  }
    .contact_icons{
      font-size:50px;
      color:#F26527;
      padding: 6px;
    }
   
    .contact h6{
      font-size:25px;
      font-weight:600;
      color:#F26527;
    }
    .contact p{
      color:#707070;
      font-size: 26px;
    }
    #wrapper {
      padding-left: 220px ;
      transition: all 0.6s ease
    }
      
  #sidebar-wrapper{
   
    left:0px;
  }
   
}
/*large desktop*/
@media screen and (min-width: 1600px) {
  .navbar-collapse   {
  
    background-color: #ffff;
  }
  .about img {
    height: 554px;
    width:454px;
    float: right;
  }
  .text{
    top:25%;
  }
  .about p{
    font-size: 20px;
  
  }
  .contact h6{
    font-size:35px;
    font-weight:600;
    color:#F26527;
  }
  .about h1 {
    font-size: 60px !important;
}

.about h5 {
  font-size: 40px !important;
  color:#F26527;
  font-weight: bold;
}
  .a-row{
    margin: 50px 100px !important;
  }
  .contact p{
    color:#707070;
    font-size: 26px;
  }
  /*sidebar*/
  #sidebar-wrapper {
    left: 0px;
}
#wrapper {
  padding-left: 220px;
}
}


@media only screen and (min-width: 600px) {
  
  .hero-inner {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  .text{
    top:25%;
  }
 
}



@media only screen and (min-width: 1024px) {
  .navbar-collapse   {
  
    background-color: #ffff;
  }
  .hero img {
    max-width: 100%;
  }
  body {
    padding-top: 3%;
}
  
  .nav-link {
    font-size: 12px;
  }
  .hero-inner {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
  }
  .hero h6,.faq h6 
  .hero span {
    font-size: 40px !important;
   font-weight:400;
  }
  .hero button{
    width: 272px;
height: 82px;
font-size:29px
  }
  .welcome h6{
    font-size:32px !important;
  }

  .welcome-button{
    height:39px;
    /* width:129px; */
  }
  
  .celebrated h6{
    font-size:32px !important;
  }
  .celebrated h5{
    font-size:32px !important;
    color:#707070;
  }
  .testify{
   margin-left: 60px;
   font-size:28px !important;
  }
  .navbar-brand img {
    width: 180px;
    height: 44px;
  }
  .navbar,
  .f-margin,
  .home {
    padding: 0 40px !important;
  }
  .ml {
    margin-left: 20px;
  }
  .mr {
    margin-right: 20px;
  }
  .hero,
  .hero-inner .row {
    margin: 0 20px;
  }
  
}
@media only screen and (min-width: 1200px) {
 
  .hero img {
    max-width: 100%;
  }
  .hero h6,.faq h6 
  .hero span {
    font-size: 40px !important;
   font-weight:400;
  }
  .hero button{
    width: 172px;
height: 62px;
font-size:19px
  }
  .navbar-brand img {
    width: 200px;
    height: 51px;
  }
  .nav-link {
    font-size: 14px;
  }
  .navbar,
  .f-margin,
  .home {
    padding: 0 40px !important;
  }
  .ml {
    margin-left: 40px;
  }
  .mr {
    margin-right: 40px;
  }
  .hero,
  .hero-inner .row {
    margin: 0 40px;
  }
  
}
/* sidebar Toggle Styles */
html, body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  height: 50px;
  background: #ddd;
}
section {
  flex: 1;
  display: flex;
}
aside {
  width: 100px;
  background: lightgreen;
}
.home{
  flex: 1;
 
}
/*====dashboard sidebar===*/
#wrapper {
  /* padding-left: 0; */
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  
}

#wrapper.toggled {
  padding-left: 200px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  /* left: 250px; */
  position: fixed;
  width: 0;
  height:100%;
  top:0px;
  /* height: calc( 100% - 282px ); */
 min-height: calc(100vh - 282px );;
 /*  margin-left: -260px; */
  overflow-y: auto;
  background-color: #A7A6A6!Important;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar-wrapper.toogled {
  left: 0;
}
#wrapper.toggled #sidebar-wrapper {
  width: 0;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-left:-200px;
}

/* Sidebar Styles */
.sidebar-nav .active{
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 0px 10px 10px 10px;
opacity: 1;
color:#707070;
/* width: 80%; */
}
.sidebar-nav {
  position: absolute;
  top: 0;
  right:15px;
  width: 200px;
  margin: 0;

  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #312A25;

}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.sidebar-nav {
  padding-top: 55px;
}

@media(min-width:768px) {
  /* #wrapper {
      padding-left: 220px;
  } */

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 200px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 40px;
      
      
  }

#wrapper.toggled .sider  {
      visibility:hidden;
      
  }
#wrapper.toggled   i {
float:right;
} 

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
  
}


@media(max-width:414px) {

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right:60px;
}
#wrapper {
  padding-left: 0 ;
  transition: all 0.6s ease
}
/* #wrapper.toggled {
  padding-right: 60px;
} */

#wrapper {
      padding-left: 20px;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 50px;
      margin-left: -260px; 
    left:250px;
  }

  #wrapper.toggled #sidebar-wrapper {
      /*  width: 140px;*/
      width: 200px
      
      
  }
  
  #wrapper.toggled .sider {
      visibility:visible;
      position:relative;
      /* left:70px; 
      bottom:13px;*/
      
  }

#wrapper .sider{
      visibility:hidden;
      
  }
#wrapper.toggled   i {
float:right;
} 

#wrapper   i {
float:right;
} 

  #page-content-wrapper {
      padding: 5px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }




}
/*===reactbootstrapmultiselect==>*/
span.multiselect-native-select{position:relative}span.multiselect-native-select select{border:0!important;clip:rect(0 0 0 0)!important;height:1px!important;margin:-1px -1px -1px -3px!important;overflow:hidden!important;padding:0!important;position:absolute!important;width:1px!important;left:50%;top:30px}.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0}.multiselect-container .input-group{margin:5px}.multiselect-container .multiselect-reset .input-group{width:93%}.multiselect-container>li{padding:0}.multiselect-container>li>a.multiselect-all label{font-weight:700}.multiselect-container>li.multiselect-group label{margin:0;padding:3px 20px;height:100%;font-weight:700}.multiselect-container>li.multiselect-group-clickable label{cursor:pointer}.multiselect-container>li>a{padding:0}.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:400;padding:3px 20px 3px 40px}.multiselect-container>li>a>label.checkbox,.multiselect-container>li>a>label.radio{margin:0}.multiselect-container>li>a>label>input[type=checkbox]{margin-bottom:5px}.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}.form-inline .multiselect-container label.checkbox,.form-inline .multiselect-container label.radio{padding:3px 20px 3px 40px}.form-inline .multiselect-container li a label.checkbox input[type=checkbox],.form-inline .multiselect-container li a label.radio input[type=radio]{margin-left:-20px;margin-right:0}