

   .userDb .ant-select-selector {
        background: #D6D6D6 !important;
        border-radius: 4px!important;
        color: #707070 !important;
      
        height: 64px !important;
    border-radius: 4px;
    }
    .userDb .search,.userDb .search .ant-input{
        background:   #EFEFEF !important;
     
    }
    .userDb .search{
        height: 64px !important;
        border-radius: 4px !important;
    }
 .userDb h6{
    font-weight:bold;
 }
.filter-radio .ant-radio-wrapper{
    margin-top: 2em;;
}