/*==wallet==*/
.wallet-button{
    width: 309px;
    height: 72px !important;
    font: normal normal bold 24px/40px Open Sans;
    }
    .wallet{

        font-weight: bold!important; 
      }
      .nav-tabs {
        border-bottom:0 !important; 
       }
       .wallet-tab .nav-tabs .nav-link{
         font-weight:600 !important;
         font-size:1.2rem !important;
       }
       .nav-tabs .nav-link.active {
         background-color: transparent !important;
         color:#F26527  !important;
         border-color:  transparent !important;
         border-bottom:1px solid #F26527  !important;

       }
    /* For small  Phones*/

    @media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .wallet-button{
        width: 109px;
        height: 52px !important;
        font: normal normal bold 10px/16px Open Sans;
        }
      
  }
 /*ipad*/
@media only screen and (device-width: 768px) {

.wallet-button{
    width: 250px;
    height: 52px !important;
    font: normal normal bold 14px/20px Open Sans;
    }}
    @media only screen and (min-width: 1200px) {
        .account h1{
            font-size:3.5rem;
        }
        .account p {
            font-size: 24px;
        }
    }