#subject{
    border:none;
    border-bottom: 1px solid #A7A6A6;
    margin:2px 16px;
    width:90% !important;
}
.selected-category select{
    background: #A7A6A6;
border-radius: 30px;
}
.message .form-control{
    color:#fff;
}
.message-box textarea{
    height: 235px !important;

    border: 1px solid #707070;
border-radius: 10px;
}
.message label{
    padding-right: 2rem;
}
