.rating Input{
width: 108px;
height: 66px;
}
.rating .ant-form label{
    color:#707070 ;

}
 .ant-form-item-label > label{
    color: inherit!important;
}
.verify .float{
    float: right;
}
.maxRate .ant-form-item-label{
    color:#F26527!important;
}