button{
  font-size:1.2em !important;
}
.acc-btn{
  height:42px !important
}
.text-white{
  color:#fff;
}
.settings label{
  font-weight: bold;
  font-size:1.2em;
  color:#707070; 
}
.settings-select .form-control {
  height: 62px;
}
ul {
  list-style: none; /* Remove default bullets */
  padding-inline-start: 0px !important;
}
.settings img{
  width: 100%;
    height: 100%;
}

.acc-card li::before,.billing-card li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */

  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 0.5em; /* Also needed for space (tweak if needed) */
margin-top: -1em;
  font-size: 4rem;
}
.acc-card li::before{
  color:#F2652796; /* Change the color */
}
.billing-card li::before{
  color:#A7A6A6;
}
.bold{
  font-size: 1.2rem;
    font-weight: bolder;
}
.profile-image{
  width: 461px;
height: 461px;
margin-left: 5em;
}
.profile-image img{
  width: 100%;
  height: 100%;
  border-radius:100%;
  border: 1px solid #707070; 
}
.label_text{
  font-weight: 500;
}

.input_container{
  max-width: 500px;
}

.main_container{
  margin-top: 60px;
  padding: 30px;
  background-color: aliceblue;
}

.div_container{
  margin-top: 50px;
  float: right;
  justify-content: center;
}

.file_upload_button{
  
  margin-top: 10px;
  
}
.file_upload_label{
  color: #F26527;
  font-size: 20px;
  font-weight: 500;
}
.training-img,.training-video,.training-onwatc{
  width: 200px;
height: 150px;
}

.onwatch-text{
  margin:20% 0;
}
.nbtn{
  background-color: #F26527 ;
  border: #F26527;
  color: #fff;
  text-align: center;
  padding:  10px;
  border-radius: 5px;
  font-weight: 500;

 font-size:1rem;
 text-transform: uppercase;
}

.nbtn2{
  background-color: #707070 ;
  border: #F26527;
  color: #fff;
  text-align: center;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: 500;
}

.div_container_left{
  margin-left: 40px;
  margin-right: 40px;
  
}

.col_header{
  font-weight: bold;
  font-size: 32px;
  color: #F26527;
}

.desc_label{
  max-width: 800px;
  color: #F26527;
  text-align: center;
}

.x-border{
  border-top: 5px solid 	#DCDCDC;
  border-radius: 2px;
}

.btn-flatx {
  background-color: #F26527;
  color: white;
}@media only screen 
and (min-device-width: 360px) 
and (max-device-width: 640px) 
and (-webkit-min-device-pixel-ratio: 1) {
  .settings .row {
 
    flex-direction: column-reverse;
  }
  .div_container_left {
    margin-left: 0px; 
   margin-right: 0px;
  }
  button a{
    font-size: 12px;
    font-weight: bold;
  }
  .col_header {

    font-size: 22px;
  }
}

/*training*/
.training-img img ,.training-onwatch img,.training-video img{
  width:100%;
  height:100%;
}
/* For Phones IPHONE 6,7,8 */

@media only screen and (max-width: 575px) {
  .mob_image{
    margin-left: 120px; 
  }
  .mob_image_big{
    margin-left: 60px;
  }

  .border-y1{
    margin-top: 20px;
  }

  .border-y2{
    margin-bottom: 20px;
  }
  .col_header{
    font-weight: 600;
    font-size: 20px;
    color: #F26527;
  }
}

/* For Phones IPHONE 5 */
@media only screen and (max-width: 320px) {
  .mob_image{
    margin-left: 80px;
  }
  .mob_image_big{
    margin-left: 30px;
  }

  .border-y1{
    margin-top: 18px;
  }

  .border-y2{
    margin-bottom: 18px;
  }
  .acc-btn{
    font-size:10px;
 
  }
 
}
/*ipad*/
@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .col_header {

    font-size: 22px;
  }
}
/*ipadpro etc*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .col_header {

      font-size: 22px;
    }
  }

@media only screen and (min-width: 1200px) {
.training-video{
  width: 358px;
  height: 220px;
}
.training-onwatch{
  width: 500px;
height: 500px;
}
}